parameters:
  level: 1
  paths:
    - bin
    - lib
  bootstrapFiles:
    - %currentWorkingDirectory%/development/vendor/autoload.php
  excludePaths:
    analyse:
      - %currentWorkingDirectory%/vendor
      - %currentWorkingDirectory%/tests
      - %currentWorkingDirectory%/scripts
      - %currentWorkingDirectory%/.github
